/* Product Layout 4 */
.product.action-bg-transparent .kalles-btn-tools .hover_button{
	background: transparent;
	box-shadow: none;
}
.product.action-bg-transparent .hover_button a.the4-loading::after,
.product.action-bg-transparent .hover_button a.loading::after{
	border: 1px solid rgb(0 0 0 / 30%);
    border-left-color: #9a9a9a;
}
.product.action-bg-transparent .product-inner .product-title a:hover {
	color: #fff;
}
.full_info.product .product__lop-top_information {
	position: absolute;
	top: 0;
	background: linear-gradient(180deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
	right: 0;
	left: 0;
	padding: 15px 20px;
	transition: opacity .3s ease,-webkit-transform .3s ease;
	z-index: 99;
}
.full_info.product div.ryviu-collection {
	margin: 0;
}
.full_info.product .ryviu-number-widget {
	color: #eee;
}
.full_info.product .swatch__list {
	margin: 0px -5px -5px;
}
.on_list_view_false .full_info.product .product__lop-bottom_information {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	transition: opacity .3s ease,-webkit-transform .3s ease;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: linear-gradient(0deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
	padding: 15px 20px;
}
.full_info.product .product__lop-bottom_information .price,
.full_info.product .product__lop-bottom_information .price del {
	color: var(--primary-color);
	font-weight: 16px;
}
.full_info.product .kalles-btn-tools {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 99;
	display: flex;
	flex-direction: column;
}
.full_info.product .kalles-btn-tools .hover_button {
	opacity: 0;
	visibility: hidden;
	left: auto;
	transform: none;
	top: auto;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	background: #fff;
	box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
	transition: .2s;
	border-radius: 4px;
	padding: 0;
	transform: translateX(13px) translateZ(0);
}
@media (min-width: 1025px) {
	.full_info .product__lop-top_information {
		transition: all .25s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}
	.full_info .product-inner:hover .product__lop-top_information{
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}
	.product__lop-top_information + .product-image .badge {
		top: auto;
		bottom: 20px;
		left: 20px;
		right: auto;
	}
	.product__lop-top_information + .product-image .badge span {
		margin: 0;
	}
	.full_info .product__lop-top_information .product-title a,
	.full_info .product__lop-top_information .price,
	.full_info .product__lop-top_information .price del {
		color: #fff;
	}
	.product.action-bg-transparent:not(.layout-6) .product-image .hover_button {
		width: 100%;
		max-width: 250px;
	    padding: 0 20px;
	    justify-content: center;
	}

	.product.action-bg-transparent .product-image .hover_button .tt_txt
	{
		text-transform: capitalize;
	}
	.full_info.product.layout-5 .product-image-loop a.button {
	    position: absolute;
	    left: 50%;
	    z-index: 99;
	    transform: translate(-50%, 20px);
	    margin-bottom: 0;
	    bottom: 25px;
	    background: #fff;
	    font-weight: 300;
	    color: #333;
	    padding: 0 15px;
	    border-radius: 0;
	    opacity: 0;
	    text-transform: capitalize;
	    pointer-events: none;
		white-space: nowrap;
	}
	.full_info.product.layout-5:not(.col-lg-2) .product-image-loop a.button  {
		min-width: 150px;
	}
	.on_list_view_false .full_info.product:not(.layout-5) .product__lop-bottom_information {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.full_info.product.layout-5 .hover_button a.button,
	.on_list_view_true .product-image-loop > a.button {
		display: none;
	}
	.on_list_view_true .full_info.product.layout-5 .hover_button a.button {
		display: block;
	}

	.product.action-bg-transparent .hover_button a,
	.product.action-bg-transparent .hover_button > div  {
		background: #fff;
		color: #222;
		border-radius: 0;
		width: 44px;
		height: 44px;
	}

	.full_info.product.layout-5 .product-image .nt_add_w>a,
	.full_info.product.layout-5 .product-image .nt_add_cp>a {
		opacity: 1;
		visibility: visible;
	}
	.full_info.product.layout-5 .kalles-btn-tools {
	    right: 25px;
	    top: 12px;
	    bottom: auto;
	}
	.full_info.product.layout-5 .kalles-btn-tools .hover_button {
		bottom: auto;
	}
	.full_info.product.layout-5 .product-image span.badge,
	.full_info.product.layout-5 .product span.badge {
		right: auto;
    	left: 10px;
	}
	.full_info.product.layout-5 .product__style--icon > a,
	.full_info.product.layout-5 .product__style--icon > div {
		margin-bottom: 10px;
	}
	.full_info.product.layout-5 a.button > i {
		margin-right: 5px;
		font-size: 13px;
		font-weight: bold;
	}

	.full_info.product.layout-5 .product-image:hover a.button  {
		transform: translateX(-50%);
		-wedkit-transform: translateX(-50%);
		opacity: 1;
		pointer-events: auto;
	}
 	.full_info.product.layout-5 .hover_button > a.button,
	.full_info.product.layout-5 .product-image-loop > a.tooltip_right:hover .tt_txt,
	.full_info.product.layout-5 .product-image-loop > a.tooltip_right:hover::before,
	.full_info.product.layout-5 a.loading i {
		opacity: 0;
	}

	.product.layout-6 .product-image .hover_button {
		flex-direction: row-reverse;
		justify-content: center;
		bottom: 0;
	    width: 100%;
	    background: #fff;
	    border-radius: 0;
	    padding: 0;
	}
	.product.layout-6:not(.col-lg-2) .product-image .hover_button a.button {
		font-size: 14px;
	    width: auto;
	    flex:  1;
	    padding: 0;
	    font-weight: 400;
	}
	.product.layout-6:not(.col-lg-2) .product-image .hover_button a.button i,
	.product.layout-6.icon_on_hover:not(.col-lg-2) a.button.tooltip_right::before,
	.product.layout-6.icon_on_hover:not(.col-lg-2) a.button.tooltip_right .tt_txt{
		display: none;
	}
	.product.icon_on_hover  .nt_add_cp .tooltip_right .tt_txt {
		left: 5px;
	}
	.product.layout-6.icon_on_hover .nt_add_cp .tooltip_right .tt_txt {
		left: auto;
		right: 5px;
	}
	.product.layout-6.icon_on_hover .wishlistadd.tooltip_right .tt_txt {
	    left: auto;
	}
	.product.layout-6.icon_on_hover .pr_atc.tooltip_right .tt_txt {
		right: auto;
		left: 5px;
	}

	.col-md-2.col-lg-2.layout-5.product a.button span {
		font-size: 0;
	}
	.col-md-2.col-lg-2.layout-5 .hover_button a,
	.col-md-2.col-lg-2.layout-5 .hover_button div,
	.col-md-2.col-lg-2.layout-4 .hover_button a,
	.col-md-2.col-lg-2.layout-4 .hover_button > div {
		background: transparent;
		color: #fff;
	}
	.col-md-2.col-lg-2.layout-4 .hover_button {
		bottom: 0;
	}
	.col-md-2.col-lg-2.layout-5 .product__style--icon > a, .col-md-2.col-lg-2.layout-5 .product__style--icon > div {
		margin-bottom: 0;
		height: 35px;
	}
	.product.action-bg-transparent .product-image:hover .hover_button
	{
		transform: none;
		-wedkit-transform: none;
		opacity: 1;
		pointer-events: auto;
	}
	.product.layout-4.icon_on_hover .cpt4_added.tooltip_right .tt_txt,
	.product.layout-4.icon_on_hover .compare_add.tooltip_right .tt_txt {
		left: 0px;
	}
	.product.layout-6.icon_on_hover .cpt4_added.tooltip_right .tt_txt,
	.product.layout-6.icon_on_hover .compare_add.tooltip_right .tt_txt {
		right: 5px;
	}
}
@media ( max-width: 1024px ) {
	.full_info.product.layout-5 .product-image-loop > a.button {
		display: none;
	}
	.full_info.product .kalles-btn-tools .product__style--icon {
	    flex-direction: row-reverse;
	    bottom: 0;
	    background: transparent;
	    box-shadow: none;
	    opacity: 1;
	    box-shadow: none;
	    visibility: visible;
	}
	.full_info.product .product__lop-top_information {
		display: none;
	}
}
/* Brand filter */

.section_nt_filter .nt_filter_block li.type-brand a {
	font-size: 14px;
}
.nt_filter_color.type-brand .filter-swatch>span {
	width: 80px;
	height: 40px;
	border-radius: 0;
	border: 1px solid #eee;
}
.nt_filter_color.type-brand .active .filter-swatch>span {
	border: 1px solid var(--primary-color);
}
.widget.wrap_filter ul.filter_block_brand li.nt_filter_color.type-brand {
	padding: 0;
	width: 100%;
	justify-content: flex-start;
	text-align: left;
}
.widget.wrap_filter ul.filter_block_brand li.nt_filter_color.type-brand:hover {
	opacity: 0.8;
}
.filter_block_brand > li {
    display: inline-flex;
    width: 50%;
}
.filter-dropdown__title {
    flex-direction: row;
    height: 40px;
    border: 1px solid #ccc;
    color: #333;
    line-height: 1;
    padding: 0 40px 0 15px;
    transition: border-color .3s ease;
    align-items: center;
}
.filter-dropdown__title:hover {
	cursor: pointer;
}
.filter-dropdown__title::after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
    color: #B7B7B7;
    font-size: 12px;
    transition: transform .2s ease;
    content: "\e905";
    font-family: "kallesicon";
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.filter-dropdown__title.opened::after {
	transform: rotate(-180deg);
}
.filter-dropdown__text {
	text-transform: uppercase;
	font-size: 13px;
}
.filter-dropdown__dropdown {
    position: absolute;
    padding: 10px 15px 0px 15px;
    left: 15px;
    right: 15px;
    z-index: 500;
    overflow: hidden;
    width: auto;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
}
.section_nt_filter .filter-dropdown .filter-top {
	margin-bottom: 0;
    max-height: 300px;
}
.widget_price_filter .filter-dropdown__dropdown {
	padding-bottom: 20px;
}
.filter-dropdown .filter_block_brand > li.type-brand {
	width: auto;
}
/* Subcategories */
.kalles-list-product-cat {
	display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}
.kalles-list-product-cat, .kalles-list-product-cat li {
	list-style: none;
}
.kalles-list-product-cat li {
	display: flex;
	margin: 10px;
	overflow: hidden;
}
.kalles-list-product-cat:not(.default) li {
	box-shadow: 1px 1px 2px rgb(0 0 0 / 12%);
}
.category-nav-link {
	display: flex;
    flex-direction: column;

    text-align: center;
}
.category-nav-link > img {
	transition: all .5s;
}
.default .category-nav-link > img {
	margin-bottom: 10px;
}
.children.kalles-subcategories {
	display: none;
}
.nav-link-summary.category-summary {
	display: flex;
	flex-direction: column;
	line-height: 18px;
}
.nav-link-text.category-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
.nav-link-count {
	font-weight: 300;
}
.title_center .category-nav-link,
.title_button .category-nav-link{
	position: relative;
	transition: all .5s;
}
.kalles-list-product-cat:not(.default) .category-nav-link:hover img{
	transform: scale3d(1.1,1.1,1);
}
.title_center .category-nav-link:hover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .2);
	z-index: 1;
}
.title_center .nav-link-summary{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transform: translate(-50%, 0%);
    transition: all .3s;
}
.title_center .category-nav-link:hover .nav-link-summary {
	transform: translate(-50%, -50%);
	opacity: 1;
}
.title_button .nav-link-summary{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: all .3s;
    background: var(--primary-color);
    padding: 5px 10px;
    opacity: .5;
}
.title_button .category-nav-link:hover .nav-link-summary {
	opacity: 1;
}